body {
    box-sizing: border-box;
    margin: 0px;
}

a:visited {
    text-decoration: none;
    color: rgba(40, 40, 43, 0.75);
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    margin: 0px;
    padding: 5px 20px 5px 20px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.03125);
}

.nav-bar-page-options {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgba(40, 40, 43, 0.75);
}

.link-to-dashboard {
    text-decoration: none;
}

.link-to-explorer {
    text-decoration: none;
}

.nav-bar-fonts {
    font-family: sans-serif;
    color: rgba(40, 40, 43, 0.95);
}

/* .util-box-border {
    border: 1px dotted maroon;
} */

.algorhythms-card {
    width: 800px;
    margin: 0 auto;
    padding: 10px; 
    background-color: #E3826F;
    color: white;
}

.algorhythms-row-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* .algorhythms-song-title {

} */

.row-pencil-trash-icons {
    width: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row-pencil-trash-icons > img {
    width: 18px;
    height: 18px;
}

.algorhythms-row-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
}

.algorhythms-row-blank {
    height: 36px;
}

.algorhythms-row-like-comment-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.algorhythms-row-like-comment-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.algorhythms-row-like-comment-icons > img {
    width: 18px;
    height: 18px;
}

